# Data

This notebook will combine UK property transaction data published by the UK Govt Land Registry on Kaggle with location insights provided by FourSquare.


The Kaggle dataset is here [UK Housing Prices Paid | Kaggle](https://www.kaggle.com/hm-land-registry/uk-housing-prices-paid)

There is 2.2 GB of data in the complete dataset, containing property transactions from 1995 until 2017. This will be reduced as we are only interested in the most recent years worth of data and those that reliably indicate an areas average property value (freehold sales, exclusion of very cheap and very expensive properties)

In [2]:
# The code was removed by Watson Studio for sharing.

## Price Data
The data is loaded into a Pandas dataframe using a hidden cell, this is done to protect my IBM Cloud credentials. The cell below provides a preview of our base data

In [3]:
price_data.head()

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A